.pie{
    background-color: $color-secundario;
    padding-top: 20px;
    color: $color-blanco;

    h3{
        color:$color-tercero;
    }
}

.redes_1{
    display: flex;
    justify-content: center;
}

.horario{
    text-align: center;
}

.redes_lista{
    line-height: 33px;
}

.mapa{
    display: flex;
    justify-content: center;
}

iframe{
    width: 350px;
    height: 200px;
    margin-bottom: 50px;
    border-radius: 10px;
}

@media (max-width:768px) {
    iframe{
        width: 200px;
        height: 120px;
        margin-bottom: 20px;
    }
}